.square {
    height: 126px;
    width: 126px;
    border: 2px solid;
    margin: auto;
}

.text_entry {
    margin-right:auto;
    margin-left:auto;
    margin-bottom:20px;
    height: 200px;
    border: 1px solid;
    border-radius: 5px;
    background: rgb(229, 230, 228);
    padding: 20px 20px 20px;

}

.keyboard_container {
    height: 165px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px 10px; 
}

.input_container {
    height: 100px;
    width:110px;
    margin-top:13px;
    margin-left:8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px 10px; 
}

.cell {
    border: 1px solid;
    border-radius: 5px;
    color: #000000;
    text-align: center;
    font-size: 2rem;
}


